.form,
form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    &__input {
        height: 1.1em;
        margin: .1em 0;
    }

    &__group {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        margin: 10px 0;
    }
}